/* customize variables here */
:root {
  /* --color-primary: #337ab7; */
  --color-primary: #498f17
}


body {
  display:grid;
  grid-template-rows: 10rem 1fr;
  grid-gap: 0rem;
  --color-primary: #d8b1fe
}

.bg-primary a, .bg-success a {
  color:color: #f0e2fe;
}

main#cardcontainer {
  
  justify-content: center;
  display: grid;
  grid-auto-rows: 80rem;
  grid-gap: 3rem;
  
}


section.card {
  border: 3px solid black ;
  background-color:#EBECF0;
  display: grid;
  grid-template-rows: 1fr 7fr 7fr 1fr;
  grid-gap: 3rem;
  align-items: stretch;
  justify-items: stretch;
  padding: 0;
}

.card-body {
  padding: 0 2rem;
  overflow: auto;
}

section.card header, section.card footer {
  font-size: 3rem;
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  /* background-color: var(--color-success) */
  background-color: #f0e2fe

}

/* make links visible again! */

section.card header a, section.card footer a {
  color:black;
}


/* get the image to fit */
section.card img.profile-image {
  object-fit: cover;
  height: 35rem;
  width: 35rem;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  }
  
  .intro {
    font-family:courier;
    Font-size:.5rem;
    }

